{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-wkpos-receipt" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid"> {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-wkpos-receipt" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
            <li><a href="#tab-logo" data-toggle="tab">{{ tab_logo }}</a></li>
            <li><a href="#tab-content" data-toggle="tab">{{ tab_content }}</a></li>
            <li><a href="#tab-assign-outlet" data-toggle="tab">{{ text_assign_outlet }}</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              <div class="form-group">
                <label class="control-label col-sm-2" for="input-status">{{ entry_status }}</label>
                <div class="col-sm-10">
                  <select class="form-control" name="status" id="input-status">
                    {% if status %}
                      <option value="1" selected>{{ text_enabled }}</option>
                      <option value="0">{{ text_disabled }}</option>
                    {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="0" selected>{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
                <div class="col-sm-10">
                  <input type="text" name="receipt_name" value="{{ receipt_name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
                  {% if error_name %}
                  <div class="text-danger">{{ error_name }}</div>
                  {% endif %}</div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="input-print-size"><span data-toggle="tooltip" title="{{ help_print_size }}">{{ entry_paper_size }}</span></label>
                <div class="col-sm-10">
                  <select class="form-control" name="print_size" id="input-print-size">
                    <option {% if print_size == '595px' %}{{ 'selected' }}{% endif %} value="595px">{{ text_a4 }}</option>
                    <option {% if print_size == '80mm' %}{{ 'selected' }}{% endif %} value="80mm">{{ text_thermal }}</option>
                    <option {% if print_size == '58mm' %}{{ 'selected' }}{% endif %} value="58mm">{{ text_mini_thermal }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="input-font-weight" class="control-label col-sm-2">{{ entry_font_weight }}</label>
                <div class="col-sm-10">
                  <select class="form-control" name="print_font_weight">
                    <option {% if print_font_weight == 'normal' %}{{ 'selected' }}{% endif %} value="normal">{{ text_normal }}</option>
                    <option {% if print_font_weight == 'bold' %}{{ 'selected' }}{% endif %} value="bold">{{ text_bold }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-store-name">{{ entry_store_name }}</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if store_name %}
                    <input type="radio" name="store_name" value="1" checked="checked" />
                    {{ text_yes }}
                    {% else %}
                    <input type="radio" name="store_name" value="1" />
                    {{ text_yes }}
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not store_name %}
                    <input type="radio" name="store_name" value="0" checked="checked" />
                    {{ text_no }}
                    {% else %}
                    <input type="radio" name="store_name" value="0" />
                    {{ text_no }}
                    {% endif %}
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-store-address">{{ entry_store_address }}</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if store_address %}
                    <input type="radio" name="store_address" value="1" checked="checked" />
                    {{ text_yes }}
                    {% else %}
                    <input type="radio" name="store_address" value="1" />
                    {{ text_yes }}
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not store_address %}
                    <input type="radio" name="store_address" value="0" checked="checked" />
                    {{ text_no }}
                    {% else %}
                    <input type="radio" name="store_address" value="0" />
                    {{ text_no }}
                    {% endif %}
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-order-date">{{ entry_order_date }}</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if order_date %}
                    <input type="radio" name="order_date" value="1" checked="checked" />
                    {{ text_yes }}
                    {% else %}
                    <input type="radio" name="order_date" value="1" />
                    {{ text_yes }}
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not order_date %}
                    <input type="radio" name="order_date" value="0" checked="checked" />
                    {{ text_no }}
                    {% else %}
                    <input type="radio" name="order_date" value="0" />
                    {{ text_no }}
                    {% endif %}
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-order-time">{{ entry_order_time }}</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if order_time %}
                    <input type="radio" name="order_time" value="1" checked="checked" />
                    {{ text_yes }}
                    {% else %}
                    <input type="radio" name="order_time" value="1" />
                    {{ text_yes }}
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not order_time %}
                    <input type="radio" name="order_time" value="0" checked="checked" />
                    {{ text_no }}
                    {% else %}
                    <input type="radio" name="order_time" value="0" />
                    {{ text_no }}
                    {% endif %}
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-order-id">{{ entry_order_id }}</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if order_id %}
                    <input type="radio" name="order_id" value="1" checked="checked" />
                    {{ text_yes }}
                    {% else %}
                    <input type="radio" name="order_id" value="1" />
                    {{ text_yes }}
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not order_id %}
                    <input type="radio" name="order_id" value="0" checked="checked" />
                    {{ text_no }}
                    {% else %}
                    <input type="radio" name="order_id" value="0" />
                    {{ text_no }}
                    {% endif %}
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-payment-mode">{{ entry_order_note }}</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if order_note %}
                    <input type="radio" name="order_note" value="1" checked="checked" />
                    {{ text_yes }}
                    {% else %}
                    <input type="radio" name="order_note" value="1" />
                    {{ text_yes }}
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not order_note %}
                    <input type="radio" name="order_note" value="0" checked="checked" />
                    {{ text_no }}
                    {% else %}
                    <input type="radio" name="order_note" value="0" />
                    {{ text_no }}
                    {% endif %}
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-cashier-name">{{ entry_cashier_name }}</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if cashier_name %}
                    <input type="radio" name="cashier_name" value="1" checked="checked" />
                    {{ text_yes }}
                    {% else %}
                    <input type="radio" name="cashier_name" value="1" />
                    {{ text_yes }}
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not cashier_name %}
                    <input type="radio" name="cashier_name" value="0" checked="checked" />
                    {{ text_no }}
                    {% else %}
                    <input type="radio" name="cashier_name" value="0" />
                    {{ text_no }}
                    {% endif %}
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_customer_name }}</label>
                <div class="col-sm-10">
                    {% if customer_name %}
                    <label class="radio-inline"><input type="radio" name="customer_name" value="1" checked="checked"> {{ text_yes }}</label>
                    <label class="radio-inline">
                      <input type="radio" name="customer_name" value="0"> {{ text_no }}
                    </label>
                    {% else %}
                    <label class="radio-inline">
                      <input type="radio" name="customer_name" value="1">  {{ text_yes }}</label>
                    <label class="radio-inline">
                      <input type="radio" name="customer_name" value="0" checked="checked"> {{ text_no }}
                    </label>
                    {% endif %}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-shipping-mode">{{ entry_shipping_mode }}</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if shipping_mode %}
                    <input type="radio" name="shipping_mode" value="1" checked="checked" />
                    {{ text_yes }}
                    {% else %}
                    <input type="radio" name="shipping_mode" value="1" />
                    {{ text_yes }}
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not shipping_mode %}
                    <input type="radio" name="shipping_mode" value="0" checked="checked" />
                    {{ text_no }}
                    {% else %}
                    <input type="radio" name="shipping_mode" value="0" />
                    {{ text_no }}
                    {% endif %}
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-payment-mode">{{ entry_payment_mode }}</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if payment_mode %}
                    <input type="radio" name="payment_mode" value="1" checked="checked" />
                    {{ text_yes }}
                    {% else %}
                    <input type="radio" name="payment_mode" value="1" />
                    {{ text_yes }}
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not payment_mode %}
                    <input type="radio" name="payment_mode" value="0" checked="checked" />
                    {{ text_no }}
                    {% else %}
                    <input type="radio" name="payment_mode" value="0" />
                    {{ text_no }}
                    {% endif %}
                  </label>
                </div>
              </div>
            </div><!--#Tab-general-->

            <div class="tab-pane" id="tab-logo">
              <div class="form-group">
                <label class="control-label col-sm-2" for="input-print-size">{{ entry_store_logo }}</label>
                <div class="col-sm-10">
                  <select class="form-control" name="store_logo" id="store-logo">
                    {% if store_logo %}
                      <option value="1" selected>{{ text_enabled }}</option>
                      <option value="0">{{ text_disabled }}</option>
                    {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="0" selected>{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="input-print-size">{{ text_store_logo }}</label>
                <div class="col-sm-10">
                  <a href="" id="thumb-image" data-toggle="image" class="img-thumbnail"><img src="{{ thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                    <input type="hidden" name="image" value="{{ image }}" id="input-image" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-store-detail"><span data-toggle="tooltip" title="{{ help_store_detail }}">{{ entry_store_detail }}</span></label>
                <div class="col-sm-10">
                  <textarea name="extra_information" placeholder="{{ entry_store_detail }}" id="input-store-detail" class="form-control" rows="6">{{ extra_information }}</textarea>
                </div>
              </div>
            </div><!--#tab-logo -->

            <div class="tab-pane" id="tab-content">
              <div class="form-group">
                <label class="control-label col-sm-2" for="input-print-size">{{ status_content_header }}</label>
                <div class="col-sm-10">
                  <select class="form-control" name="show_content_header" id="store-logo">
                    {% if show_content_header %}
                      <option value="1" selected>{{ text_enabled }}</option>
                      <option value="0">{{ text_disabled }}</option>
                    {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="0" selected>{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-store-detail">{{ entry_content_header }}</label>
                <div class="col-sm-10">
                  <textarea name="content_header"  id="input-store-detail" data-toggle="summernote" class="form-control">{{ content_header }}</textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="input-print-size">{{ status_content_footer }}</label>
                <div class="col-sm-10">
                  <select class="form-control" name="show_content_footer" id="store-logo">
                    {% if show_content_footer %}
                      <option value="1" selected>{{ text_enabled }}</option>
                      <option value="0">{{ text_disabled }}</option>
                    {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="0" selected>{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-store-detail">{{ entry_content_footer }}</label>
                <div class="col-sm-10">
                  <textarea name="content_footer" data-toggle="summernote" id="input-store-detail" class="form-control" rows="6">{{ content_footer }}</textarea>
                </div>
              </div>
            </div><!--#tab-content -->
            <div class="tab-pane" id="tab-assign-outlet">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-outlet"><span data-toggle="tooltip" title="{{ help_outlet }}">{{ entry_outlet }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="outlet" value="" placeholder="{{ entry_outlet }}" id="input-outlet" class="form-control" />
                  <div id="outlet" class="well well-sm" style="height: 150px; overflow: auto;"> {% for outlet in outlets %}
                    <div id="outlet{{ outlet.outlet_id }}"><i class="fa fa-minus-circle"></i> {{ outlet.name }}
                      <input type="hidden" name="outlets[]" value="{{ outlet.outlet_id }}" />
                    </div>
                    {% endfor %}</div>
                </div>
              </div>
            </div><!--#tab-assign-outlet -->

          </div><!--Tab-content-->
        </form><!--Form-->
      </div><!--Pannel body-->
    </div><!--Pannel Default-->
  </div><!--container-fluid-->
</div><!--content-->

<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
<link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
<script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>

<script type="text/javascript"><!--
$('input[name=\'outlet\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=wkpos/wkpos_receipt/autocompleteOutlet&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['outlet_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'outlet\']').val('');

		$('#outlet' + item['value']).remove();

		$('#outlet').append('<div id="outlet' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="outlets[]" value="' + item['value'] + '" /></div>');
	}
});

$('#outlet').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});
</script>

{{ footer }}
