{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right"><a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" id="delete"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="row">
      <div id="filter-receipt" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-filter"></i> {{ text_filter }}</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label class="control-label" for="input-name">{{ entry_name }}</label>
              <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
            </div>
            <div class="form-group">
              <label class="control-label" for="input-status">{{ entry_status }}</label>
              <select name="filter_status" id="input-status" class="form-control">
                 <option value=""></option>
                 <option value="1" {% if filter_status == '1' %} selected {% endif %}>{{ text_enabled }}</option>
                 <option value="0" {% if filter_status == '0' %} selected {% endif %}>{{ text_disabled }}</option>
              </select>
            </div>
            <div class="form-group text-right">
              <button type="button" id="clear-filter" title="Clear Filter" class="btn btn-danger"><i class="fa fa-refresh"></i> </button>
              <button type="button" id="button-filter" class="btn btn-default"><i class="fa fa-filter"></i> {{ button_filter }}</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-9 col-md-pull-3 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
          </div>
          <div class="panel-body">
            <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-receipt">
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                      <td class="text-left">{{ column_image }}</td>
                      <td class="text-left">{% if sort == 'receipt_name' %} <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a> {% else %} <a href="{{ sort_name }}">{{ column_name }}</a> {% endif %}</td>
                      <td class="text-left">{% if sort == 'status' %} <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a> {% else %} <a href="{{ sort_status }}">{{ column_status }}</a> {% endif %}</td>
                      <td class="text-left" style="width:210px;">{{ column_outlet }}</td>
                      <td class="text-left" style="width:110px;">{{ column_action }}</td>
                    </tr>
                  </thead>
                  <tbody>
                    {% if receipts %}
                     {% for receipt in receipts %}
                      <tr>
                        <td class="text-center">{% if receipt.receipt_id in selected %}
                          <input type="checkbox" name="selected[]" value="{{ receipt.receipt_id }}" checked="checked" />
                          {% else %}
                          <input type="checkbox" name="selected[]" value="{{ receipt.receipt_id }}" />
                         {% endif %}</td>
                         <td class="text-left">{% if receipt.image %} <img src="{{ receipt.image }}" alt="{{ receipt.name }}" class="img-thumbnail" /> {% else %} <span class="img-thumbnail list"><i class="fa fa-camera fa-2x"></i></span> {% endif %}</td>
                         <td class="text-left">{{ receipt.name }}</td>
                         <td class="text-left">{{ receipt.status }}</td>
                         <td class="text-left">
                           {% for outlet in receipt.outlets %}
                            <b>[</b> {{ outlet.name }} <b>]</b>
                           {% endfor %}
                         </td>
                         <td class="text-left"><a href="{{ receipt.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                         <a  href="{{ receipt.preview }}" target="blank" data-toggle="tooltip" title="{{ button_preview }}" class="btn btn-primary print_preview"><i class="fa fa-eye"></i></a>
                         </td>
                       </tr>
                     {% endfor %}
                    {% else %}
                    <tr>
                      <td class="text-center text-danger" colspan="6">{{ text_not_found }}</td>
                    </tr>
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </form>
            <div class="row">
              <div class="col-sm-6 text-left">{{ pagination }}</div>
              <div class="col-sm-6 text-right">{{ results }}</div>
            </div>
          </div><!--panel-body -->
        </div><!--panel panel-default -->
      </div>

    </div><!--Row -->
  </div><!--container-fluid -->
</div><!--content -->
<script type="text/javascript"><!--

$('#clear-filter').on('click', function() {
  location = 'index.php?route=wkpos/wkpos_receipt&user_token={{ user_token }}';
});

$('#button-filter').on('click', function() {
	var url = '';

	var filter_name = $('input[name=\'filter_name\']').val();

	if (filter_name) {
		url += '&filter_name=' + encodeURIComponent(filter_name);
	}

	var filter_status = $('select[name=\'filter_status\']').val();

	if (filter_status !== '') {
		url += '&filter_status=' + encodeURIComponent(filter_status);
	}

	location = 'index.php?route=wkpos/wkpos_receipt&user_token={{ user_token }}' + url;
});

$('input[name=\'filter_name\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=wkpos/wkpos_receipt/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['receipt_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_name\']').val(item['label']);
	}
});

$('body').on('click','#delete',function(){
  var flag = false;
  $('input[type=\'checkbox\']').each(function(){
    if ($(this).is(':checked')) {
      flag = true;
    }
  });
  if (flag) {
      confirm('{{ text_confirm }}') ? $('form').submit() : false;
  } else {
     alert('{{ text_select_first }}');
  }
});
//--></script>

{{ footer }}
