<style type="text/css">
 .thermal {
   width: {{ paper_size }};
   font-weight: {{ font_weight }};
   font-size: 12 px;
 
 }
 {% if paper_size == '595px' %}
  .thermal {
    max-width: 630px;
  }
  .font-store {
    font-size: 12px;
   
  }
 {% endif %}
 {% if paper_size == '58mm' %}
  .font-store {
    font-size: 11px;
  }
 {% endif %}
 {% if paper_size == '80mm' %}
  .font-store {
    font-size: 13px;
  }
 {% endif %}
</style>
<div class="container thermal" style=" text-align:center; max-width: 630px; font-weight:400">
  <div class="thermal" style="margin: 0 auto;">
    {% if show_store_logo %}
    <img src="{{ store_logo }}" title="{{ store_name }}" alt="{{ store_name }}" class="img-responsive" width="300" style="margin: 0 auto;"><br>
    {% endif %}

    {% if show_header %}
      <span>{{ text_header }}</span><br/>
    {% endif %}
  
    {% if show_store_name %}
    <span style="font-size: 14px; color: red; ">{{ store_name }}</span><br>
    {% endif %}
    {% if show_store_address %}
    <span class="font-store">{{ store_address }}</span><br>
    {% endif %}
    <div>
    {% if store_detail %}
    <span class="font-store">{{ store_detail }} </span>  
    {% endif %}
    {% if show_order_date %}
    {{ text_date }} : <span class="order-date"></span>
    {% endif %}    
    {% if show_order_time %}
    {{ text_time }} <span class="order-time"></span><br>
    {% endif %}
    </div>
    <div style="text-align: left">
    {% if show_order_id %} &nbsp; &nbsp; 
    <span class="order-txn" Style="text-align : left; ">{{ text_order_id }}</span> #<span class="oid"></span>  &nbsp; &nbsp; &nbsp; 
    {% endif %}
    {% if show_cashier_name %}
    {{ text_cashier }} : <span id="cashier-name"></span>
    {% endif %}
    </div>  
    {% if show_customer_name %}
    <br />
    {{ text_customer }} : <span id="customer-name-in"></span>
    {% endif %}
  </div>
  
  <div class="thermal">
    {% if show_shipping_mode %}
    <span>{{ text_shipping_mode }}: </span><span class="oshipping">{{ text_pickup }}</span>
    {% endif %}
    {% if show_payment_mode %}
    <span>{{ text_payment_mode }}</span><span class="opayment"></span>
    {% endif %}
  </div>
  <div class="table thermal">
    <table style="border-collapse: collapse; border-spacing: 0px; margin: 0 auto; width: 95%;  ">
    
      <thead  style="border-top: 1px dotted ; border-bottom: 1px dotted ;">
      
        <tr>
          <td style="text-align:left; max-width: 250px; ">{{ column_product }}</td>
          <td>{{ column_quantity }}</td>
          <td>{{ column_price }}</td>
          <td style="text-align:right;">{{ column_amount }}</td>
        </tr>
      </thead>

      
      <tbody id="receiptProducts" >
      </tbody>

 <tbody id="print-totals"  style="border-top: 1px dotted ; border-bottom: 1px dotted ;">

            <tr>
              <td style="text-align: left; " colspan="3";>{{ text_subtotal }}</td>
              <td style="text-align:left;">00.00</td>
            </tr >
          </tbody>
		  
	<tbody Style="border-top: 1px dotted ; border-bottom: 1px dotted ;">
            <tr id="grandtotal-tr">
              <!--td id="total-quantity-text"></td>
              <td id="total-quantity" style="font-weight: bold;"></td -->
              
              <td style="text-align: left; " colspan="3"; >{{ text_grandtotal }}</td>
              <td style="text-align: right;  "><span class="oTotal">00.00</span></td>
            </tr>
          </tbody>
      

    </table>
    {% if show_note %}
    <div class="text-left">
      <strong>{{ text_note }}: </strong><span class="onote"></span>
    </div>
    {% endif %}

    {% if show_footer %}
      <span>{{ text_footer }}</span>
    {% else %}
      <span>{{ text_nice_day }}</span><br>
      <span>{{ text_thank_you }}</span>
    {% endif %}

  </div>
</div>