{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-wkpos" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
        <a href="{{ front_end }}" class="pull-right btn btn-warning" style="margin-top: -8px; font-weight: bold;" target="_blank">{{ text_pos_front }}</a>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-wkpos" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="module_wkpos_status" id="input-status" class="form-control">
                {% if module_wkpos_status %}
                <option value="0">{{ text_disabled }}</option>
                <option value="1" selected="selected">{{ text_enabled }}</option>
                {% else %}
                <option value="0" selected="selected">{{ text_disabled }}</option>
                <option value="1">{{ text_enabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>

          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
            <li><a href="#tab-customer" data-toggle="tab">{{ tab_customer }}</a></li>
            <li><a href="#tab-payment" data-toggle="tab">{{ tab_payment }}</a></li>
            <li><a href="#tab-shipping" data-toggle="tab">{{ tab_shipping }}</a></li>
            <li><a href="#tab-receipt" data-toggle="tab">{{ tab_receipt }}</a></li>
            <li><a href="#tab-barcode" data-toggle="tab">{{ tab_barcode }}</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-store-country">{{ entry_store_country }}</label>
                <div class="col-sm-10">
                  <select name="wkpos_store_country_id" id="input-store-country" class="form-control">
                    <option value="">{{ text_select }}</option>
                    {% for country in countries %}
                    {% if country.country_id == wkpos_store_country_id %}
                    <option value="{{ country.country_id }}" selected="selected">{{ country.name }}</option>
                    {% else %}
                    <option value="{{ country.country_id }}">{{ country.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                  {% if error_store_country %}
                  <div class="text-danger">{{ error_store_country }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-store-zone">{{ entry_store_zone }}</label>
                <div class="col-sm-10">
                  <select name="wkpos_store_zone_id" id="input-store-zone" class="form-control">
                  </select>
                  {% if error_store_zone %}
                  <div class="text-danger">{{ error_store_zone }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-heading"><span data-toggle="tooltip" title="{{ help_heading }}">{{ entry_heading }}</span></label>
                <div class="col-sm-10">
                  {% for language in languages %}
                  <div class="input-group">
                    <span class="input-group-addon" data-toggle="tooltip" title="{{ language['name'] }}"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" alt="{{ language['name'] }}"></span>
                    <input type="text" name="wkpos_heading{{ language['language_id'] }}" value="{{ wkpos_heading[language['language_id']] }}" placeholder="{{ entry_heading }}" id="input-heading{{ language['language_id'] }}" class="form-control" />
                  </div>
                    {% if error_heading[language['language_id']] %}
                      <div class="text-danger">{{ error_heading[language['language_id']] }}</div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-sub-heading"><span data-toggle="tooltip" title="{{ help_sub_heading }}">{{ entry_sub_heading }}</span></label>
                <div class="col-sm-10">
                  {% for language in languages %}
                  <div class="input-group">
                    <span class="input-group-addon" data-toggle="tooltip" title="{{ language['name'] }}"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" alt="{{ language['name'] }}"></span>
                    <input type="text" name="wkpos_sub_heading{{ language['language_id'] }}" value="{{ wkpos_sub_heading[language['language_id']] }}" placeholder="{{ entry_sub_heading }}" id="input-sub-heading{{ language['language_id'] }}" class="form-control" />
                  </div>
                    {% if error_sub_heading[language['language_id']] %}
                      <div class="text-danger">{{ error_sub_heading[language['language_id']] }}</div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-logcontent"><span data-toggle="tooltip" title="{{ help_logcontent }}">{{ entry_logcontent }}</span></label>
                <div class="col-sm-10">
                  <ul class="nav nav-tabs">
                    {% set lang_key = 0 %}
                    {% for key, language in languages %}
                      <li{% if lang_key == 0 %}{{ ' class="active"' }}{% endif %}><a href="#tab-logcontent{{ language['language_id'] }}" data-toggle="tab"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" alt="{{ language['name'] }}"> {{ language['name'] }}</a></li>
                      {% set lang_key = lang_key + 1 %}
                    {% endfor %}
                  </ul>
                  <div class="tab-content">
                    {% set lang_key = 0 %}
                    {% for key, language in languages %}
                      <div class="tab-pane{% if lang_key == 0 %}{{ " active" }}{% endif %}" id="tab-logcontent{{ language['language_id'] }}">
                        <textarea name="wkpos_logcontent{{ language['language_id'] }}" placeholder="{{ entry_logcontent }}" id="input-logcontent" class="form-control" data-toggle="summernote" data-lang="{{ summernote }}" rows="6">{{ wkpos_logcontent[language['language_id']] }}</textarea>
                        {% if error_logcontent[language['language_id']] %}
                          <div class="text-danger">{{ error_logcontent[language['language_id']] }}</div>
                        {% endif %}
                      </div>
                      {% set lang_key = lang_key + 1 %}
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-populars"><span data-toggle="tooltip" title="{{ help_populars }}">{{ entry_populars }}</span></label>
                <div class="col-sm-10">
                  <input type="number" name="wkpos_populars" value="{{ wkpos_populars }}" placeholder="{{ entry_populars }}" id="input-populars" min="0" onkeypress="javascript:return validate(event, this, true)" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-low-stock"><span data-toggle="tooltip" title="{{ help_low_stock }}">{{ entry_low_stock }}</span></label>
                <div class="col-sm-10">
                  <input type="number" name="wkpos_low_stock" value="{{ wkpos_low_stock }}" placeholder="{{ entry_low_stock }}" min="0" id="input-low-stock" class="form-control" onkeypress="return validate(event, this, true)"/>
                  {% if error_low_stock %}
                  <div class="text-danger">{{ error_low_stock }}</div>
                  {% endif %}
                </div>
              </div>
              {% if pricelist_status %}
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-price-list"><span data-toggle="tooltip" title="{{ help_price_list }}">{{ entry_price_list_status }}</span></label>
                <div class="col-sm-10">
                  <select class="form-control" name="wkpos_price_list_satus">
                    <option {% if wkpos_price_list_satus == 1 %}selected{% endif %} value="1">{{ text_enabled }}</option>
                    <option {% if wkpos_price_list_satus == 0 %}selected{% endif %} value="0">{{ text_disabled }}</option>
                  </select>
                </div>
              </div>
              {% endif %}
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-show-whole"><span data-toggle="tooltip" title="{{ help_show_whole }}">{{ entry_show_whole }}</span></label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if wkpos_show_whole %}
                    <input type="radio" name="wkpos_show_whole" value="1" checked="checked" />
                    {{ text_yes }}
                    {% else %}
                    <input type="radio" name="wkpos_show_whole" value="1" />
                    {{ text_yes }}
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not wkpos_show_whole %}
                    <input type="radio" name="wkpos_show_whole" value="0" checked="checked" />
                    {{ text_no }}
                    {% else %}
                    <input type="radio" name="wkpos_show_whole" value="0" />
                    {{ text_no }}
                    {% endif %}
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label for="input-outlet" class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_outlet }}">{{ entry_outlet }}</span></label>
                <div class="col-sm-10">
                  <select class="form-control" name="wkpos_default_outlet">
                    <option value="0">{{ text_select_outlet }}</option>
                    {% for outlet in outlets %}
                      <option{% if wkpos_default_outlet == outlet['outlet_id'] %}{{ ' selected' }}{% endif %} value="{{ outlet['outlet_id'] }}">{{ outlet['name'] }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-show-lowstockproduct">{{ entry_show_lowstock_prod }}</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if wkpos_show_lowstock_prod %}
                    <input type="radio" name="wkpos_show_lowstock_prod" value="1" checked="checked" />
                    {{ text_yes }}
                    {% else %}
                    <input type="radio" name="wkpos_show_lowstock_prod" value="1" />
                    {{ text_yes }}
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not wkpos_show_lowstock_prod %}
                    <input type="radio" name="wkpos_show_lowstock_prod" value="0" checked="checked" />
                    {{ text_no }}
                    {% else %}
                    <input type="radio" name="wkpos_show_lowstock_prod" value="0" />
                    {{ text_no }}
                    {% endif %}
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-email-agent">{{ entry_email_agent }}</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if wkpos_email_agent %}
                    <input type="radio" name="wkpos_email_agent" value="1" checked="checked" />
                    {{ text_yes }}
                    {% else %}
                    <input type="radio" name="wkpos_email_agent" value="1" />
                    {{ text_yes }}
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not wkpos_email_agent %}
                    <input type="radio" name="wkpos_email_agent" value="0" checked="checked" />
                    {{ text_no }}
                    {% else %}
                    <input type="radio" name="wkpos_email_agent" value="0" />
                    {{ text_no }}
                    {% endif %}
                  </label>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-customer">
              <legend>{{ text_new_customer }}</legend>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-new-customer-group"><span data-toggle="tooltip" title="{{ help_new_group }}">{{ entry_customer_group }}</label>
                <div class="col-sm-10">
                  <select name="wkpos_new_customer_group_id" id="input-new-customer-group" class="form-control">
                    {% for customer_group in customer_groups %}
                    {% if customer_group.customer_group_id == wkpos_new_customer_group_id %}
                    <option value="{{ customer_group.customer_group_id }}" selected="selected">{{ customer_group.name }}</option>
                    {% else %}
                    <option value="{{ customer_group.customer_group_id }}">{{ customer_group.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-newsletter"><span data-toggle="tooltip" title="{{ help_newsletter }}">{{ entry_newsletter }}</span></label>
                <div class="col-sm-10">
                  <select name="wkpos_newsletter" id="input-newsletter" class="form-control">
                    {% if wkpos_newsletter %}
                    <option value="0">{{ text_disabled }}</option>
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    {% else %}
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    <option value="1">{{ text_enabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-password"><span data-toggle="tooltip" title="{{ help_password }}">{{ entry_password }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="wkpos_customer_password" value="{{ wkpos_customer_password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
                </div>
              </div>
              <legend>{{ text_default_customer }}</legend>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-customer-group">{{ entry_customer_group }}</label>
                <div class="col-sm-10">
                  <select name="wkpos_customer_group_id" id="input-customer-group" class="form-control">
                    {% for customer_group in customer_groups %}
                    {% if customer_group.customer_group_id == wkpos_customer_group_id %}
                    <option value="{{ customer_group.customer_group_id }}" selected="selected">{{ customer_group.name }}</option>
                    {% else %}
                    <option value="{{ customer_group.customer_group_id }}">{{ customer_group.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-firstname">{{ entry_firstname }}</label>
                <div class="col-sm-10">
                  <input type="text" name="wkpos_firstname" value="{{ wkpos_firstname }}" placeholder="{{ entry_firstname }}" id="input-firstname" class="form-control" />
                  {% if error_firstname %}
                  <div class="text-danger">{{ error_firstname }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-lastname">{{ entry_lastname }}</label>
                <div class="col-sm-10">
                  <input type="text" name="wkpos_lastname" value="{{ wkpos_lastname }}" placeholder="{{ entry_lastname }}" id="input-lastname" class="form-control" />
                  {% if error_lastname %}
                  <div class="text-danger">{{ error_lastname }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-email">{{ entry_email }}</label>
                <div class="col-sm-10">
                  <input type="text" name="wkpos_email" value="{{ wkpos_email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
                  {% if error_email %}
                  <div class="text-danger">{{ error_email }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-telephone">{{ entry_telephone }}</label>
                <div class="col-sm-10">
                  <input type="text" name="wkpos_telephone" value="{{ wkpos_telephone }}" placeholder="{{ entry_telephone }}" id="input-telephone" class="form-control" />
                  {% if error_telephone %}
                  <div class="text-danger">{{ error_telephone }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-fax">{{ entry_fax }}</label>
                <div class="col-sm-10">
                  <input type="text" name="wkpos_fax" value="{{ wkpos_fax }}" placeholder="{{ entry_fax }}" id="input-fax" class="form-control" />
                </div>
              </div>
              <legend>{{ text_default_address }}</legend>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-company">{{ entry_company }}</label>
                <div class="col-sm-10">
                  <input type="text" name="wkpos_company" value="{{ wkpos_company }}" placeholder="{{ entry_company }}" id="input-company" class="form-control" />
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-address-1">{{ entry_address_1 }}</label>
                <div class="col-sm-10">
                  <input type="text" name="wkpos_address_1" value="{{ wkpos_address_1 }}" placeholder="{{ entry_address_1 }}" id="input-address-1" class="form-control" />
                  {% if error_address_1 %}
                  <div class="text-danger">{{ error_address_1 }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-address-2">{{ entry_address_2 }}</label>
                <div class="col-sm-10">
                  <input type="text" name="wkpos_address_2" value="{{ wkpos_address_2 }}" placeholder="{{ entry_address_2 }}" id="input-address-2" class="form-control" />
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-city">{{ entry_city }}</label>
                <div class="col-sm-10">
                  <input type="text" name="wkpos_city" value="{{ wkpos_city }}" placeholder="{{ entry_city }}" id="input-city" class="form-control" />
                  {% if error_city %}
                  <div class="text-danger">{{ error_city }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-postcode">{{ entry_postcode }}</label>
                <div class="col-sm-10">
                  <input type="text" name="wkpos_postcode" value="{{ wkpos_postcode }}" placeholder="{{ entry_postcode }}" id="input-postcode" class="form-control" />
                  {% if error_postcode %}
                  <div class="text-danger">{{ error_postcode }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-country">{{ entry_country }}</label>
                <div class="col-sm-10">
                  <select name="wkpos_country_id" id="input-country" class="form-control">
                    <option value="">{{ text_select }}</option>
                    {% for country in countries %}
                    {% if country.country_id == wkpos_country_id %}
                    <option value="{{ country.country_id }}" selected="selected">{{ country.name }}</option>
                    {% else %}
                    <option value="{{ country.country_id }}">{{ country.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                  {% if error_country %}
                  <div class="text-danger">{{ error_country }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-zone">{{ entry_zone }}</label>
                <div class="col-sm-10">
                  <select name="wkpos_zone_id" id="input-zone" class="form-control">
                  </select>
                  {% if error_zone %}
                  <div class="text-danger">{{ error_zone }}</div>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-payment">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-cash-status">{{ entry_cash_status }}</label>
                <div class="col-sm-10">
                  <select name="wkpos_cash_status" id="input-cash-status" class="form-control">
                    {% if wkpos_cash_status %}
                    <option value="0">{{ text_disabled }}</option>
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    {% else %}
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    <option value="1">{{ text_enabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_cash_title }}">{{ entry_cash_title }}</span></label>
                <div class="col-sm-10">
                  {% for language in languages %}
                    <div class="input-group">
                      <span class="input-group-addon" data-toggle="tooltip" title="{{ language['name'] }}"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" alt="{{ language['name'] }}"></span>
                      <input type="text" class="form-control" name="wkpos_cash_title{{ language['language_id'] }}" value="{{ wkpos_cash_title[language['language_id']] }}" placeholder="{{ entry_cash_title }}">
                    </div>
                    {% if error_cash_title[language['language_id']] %}
                    <div class="text-danger">{{ error_cash_title[language['language_id']] }}</div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-cash-order-status"><span data-toggle="tooltip" title="{{ help_cash_status }}">{{ entry_cash_order_status }}</span></label>
                <div class="col-sm-10">
                  <select name="wkpos_cash_order_status_id" id="input-cash-order-status" class="form-control">
                    {% for order_status in order_statuses %}
                    {% if order_status.order_status_id == wkpos_cash_order_status_id %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                    {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-card-status">{{ entry_card_status }}</label>
                  <div class="col-sm-10">
                    <select name="wkpos_card_status" id="input-card-status" class="form-control">
                      {% if wkpos_card_status %}
                      <option value="0">{{ text_disabled }}</option>
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      {% else %}
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                      <option value="1">{{ text_enabled }}</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
                <div class="form-group required">
                  <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_card_title }}">{{ entry_card_title }}</span></label>
                  <div class="col-sm-10">
                    {% for language in languages %}
                      <div class="input-group">
                        <span class="input-group-addon" data-toggle="tooltip" title="{{ language['name'] }}"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" alt="{{ language['name'] }}"></span>
                        <input type="text" class="form-control" name="wkpos_card_title{{ language['language_id'] }}" value="{{ wkpos_card_title[language['language_id']] }}" placeholder="{{ entry_card_title }}">
                      </div>
                      {% if error_card_title[language['language_id']] %}
                      <div class="text-danger">{{ error_card_title[language['language_id']] }}</div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-card-order-status"><span data-toggle="tooltip" title="{{ help_card_status }}">{{ entry_card_order_status }}</span></label>
                  <div class="col-sm-10">
                    <select name="wkpos_card_order_status_id" id="input-card-order-status" class="form-control">
                      {% for order_status in order_statuses %}
                      {% if order_status.order_status_id == wkpos_card_order_status_id %}
                      <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                      {% else %}
                      <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="select-credit-status">{{ entry_credit_status }}</label>
                  <div class="col-sm-10">
                    <select class="form-control" name="wkpos_credit_status" id="select-credit-status">
                      <option {% if wkpos_credit_status == 1 %}selected{% endif %} value="1">{{ text_enabled }}</option>
                      <option {% if wkpos_credit_status == 0 %}selected{% endif %} value="0">{{ text_disabled }}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group required">
                  <label class="col-sm-2 control-label"> <span data-toggle="tooltip" title="{{ help_credit_title }}">{{ entry_credit_title }}</span></label>
                  <div class="col-sm-10">
                    {% for language in languages %}
                      <div class="input-group">
                        <span class="input-group-addon" data-toggle="tooltip" title="{{ language['name'] }}">
                          <img src="language/{{ language['code'] }}/{{ language['code'] }}.png" alt="">
                        </span>
                        <input type="text" class="form-control" name="wkpos_credit_title{{language['language_id']}}" value="{{ wkpos_credit_title[language['language_id']] }}">
                      </div>
                      {% if error_credit_title[language['language_id']] %}
                        <div class="text-danger">
                          {{ error_credit_title[language['language_id']] }}
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label"> <span data-toggle="tooltip" title="{{ help_credit_order }}">{{ entry_credit_order_status }}</span></label>
                  <div class="col-sm-10">
                    <select class="form-control" name="wkpos_credit_order_status">
                      {% for order_status in order_statuses %}
                          <option {% if wkpos_credit_order_status == order_status['order_status_id'] %}selected{% endif %} value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-discount-status">{{ entry_discount_status }}</label>
                <div class="col-sm-10">
                  <select name="wkpos_discount_status" id="input-discount-status" class="form-control">
                    {% if wkpos_discount_status %}
                    <option value="0">{{ text_disabled }}</option>
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    {% else %}
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    <option value="1">{{ text_enabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-coupon-status">{{ entry_coupon_status }}</label>
                <div class="col-sm-10">
                  <select name="wkpos_coupon_status" id="input-coupon-status" class="form-control">
                    {% if wkpos_coupon_status %}
                    <option value="0">{{ text_disabled }}</option>
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    {% else %}
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    <option value="1">{{ text_enabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-tax-status">{{ entry_tax_status }}</label>
                <div class="col-sm-10">
                  <select name="wkpos_tax_status" id="input-tax-status" class="form-control">
                    {% if wkpos_tax_status %}
                    <option value="0">{{ text_disabled }}</option>
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    {% else %}
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    <option value="1">{{ text_enabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-shipping">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="select-home-delivery">{{ entry_home_delivery_staus }}</label>
                <div class="col-sm-10">
                  <select class="form-control" name="wkpos_home_delivery_status" id="select-home-delivery">
                    <option {% if wkpos_home_delivery_status %}{{ "selected" }}{% endif %} value="1">{{ text_enabled }}</option>
                    <option {% if not wkpos_home_delivery_status %}{{ "selected" }}{% endif %} value="0">{{ text_disabled }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-home-delivery-title">{{ entry_home_delivery_title }}</label>
                <div class="col-sm-10">
                  {% for language in languages %}
                    <div class="input-group">
                      <span class="input-group-addon" data-toggle="tooltip" title="{{ language['name'] }}"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" alt="{{ language['name'] }}"></span>
                      <input type="text" class="form-control" name="wkpos_home_delivery_title{{ language['language_id'] }}" value="{{ wkpos_home_delivery_title[language['language_id']] }}">
                    </div>
                    {% if error_delivery_title[language['language_id']] %}
                      <div class="text-danger">
                        {{ error_delivery_title[language['language_id']] }}
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-max-charge"><span data-toggle="tooltip" title="{{ help_max_charge }}">{{ entry_home_delivery_max }}</span></label>
                <div class="col-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon">{{ currency }}</span>
                    <input type="number" name="wkpos_home_delivery_max" class="form-control" id="input-max-charge" placeholder="{{ entry_home_delivery_max }}" value="{{ wkpos_home_delivery_max }}" min="0" onkeypress="return validate(event, this)">
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-receipt">
              <div class="form-group">
                <label class="control-label col-sm-2" for="input-print-size"><span data-toggle="tooltip" title="{{ help_print_size }}">{{ entry_paper_size }}</span></label>
                <div class="col-sm-10">
                  <select class="form-control" name="wkpos_print_size" id="input-print-size">
                    <option {% if wkpos_print_size == '595px' %}{{ 'selected' }}{% endif %} value="595px">{{ text_a4 }}</option>
                    <option {% if wkpos_print_size == '80mm' %}{{ 'selected' }}{% endif %} value="80mm">{{ text_thermal }}</option>
                    <option {% if wkpos_print_size == '58mm' %}{{ 'selected' }}{% endif %} value="58mm">{{ text_mini_thermal }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="input-font-weight" class="control-label col-sm-2">{{ entry_font_weight }}</label>
                <div class="col-sm-10">
                  <select class="form-control" name="wkpos_print_font_weight">
                    <option {% if wkpos_print_font_weight == 'normal' %}{{ 'selected' }}{% endif %} value="normal">{{ text_normal }}</option>
                    <option {% if wkpos_print_font_weight == 'bold' %}{{ 'selected' }}{% endif %} value="bold">{{ text_bold }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-store-logo">{{ entry_store_logo }}</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if wkpos_store_logo %}
                    <input type="radio" name="wkpos_store_logo" value="1" checked="checked" />
                    {{ text_yes }}
                    {% else %}
                    <input type="radio" name="wkpos_store_logo" value="1" />
                    {{ text_yes }}
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not wkpos_store_logo %}
                    <input type="radio" name="wkpos_store_logo" value="0" checked="checked" />
                    {{ text_no }}
                    {% else %}
                    <input type="radio" name="wkpos_store_logo" value="0" />
                    {{ text_no }}
                    {% endif %}
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-store-name">{{ entry_store_name }}</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if wkpos_store_name %}
                    <input type="radio" name="wkpos_store_name" value="1" checked="checked" />
                    {{ text_yes }}
                    {% else %}
                    <input type="radio" name="wkpos_store_name" value="1" />
                    {{ text_yes }}
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not wkpos_store_name %}
                    <input type="radio" name="wkpos_store_name" value="0" checked="checked" />
                    {{ text_no }}
                    {% else %}
                    <input type="radio" name="wkpos_store_name" value="0" />
                    {{ text_no }}
                    {% endif %}
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-store-address">{{ entry_store_address }}</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if wkpos_store_address %}
                    <input type="radio" name="wkpos_store_address" value="1" checked="checked" />
                    {{ text_yes }}
                    {% else %}
                    <input type="radio" name="wkpos_store_address" value="1" />
                    {{ text_yes }}
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not wkpos_store_address %}
                    <input type="radio" name="wkpos_store_address" value="0" checked="checked" />
                    {{ text_no }}
                    {% else %}
                    <input type="radio" name="wkpos_store_address" value="0" />
                    {{ text_no }}
                    {% endif %}
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-order-date">{{ entry_order_date }}</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if wkpos_order_date %}
                    <input type="radio" name="wkpos_order_date" value="1" checked="checked" />
                    {{ text_yes }}
                    {% else %}
                    <input type="radio" name="wkpos_order_date" value="1" />
                    {{ text_yes }}
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not wkpos_order_date %}
                    <input type="radio" name="wkpos_order_date" value="0" checked="checked" />
                    {{ text_no }}
                    {% else %}
                    <input type="radio" name="wkpos_order_date" value="0" />
                    {{ text_no }}
                    {% endif %}
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-order-time">{{ entry_order_time }}</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if wkpos_order_time %}
                    <input type="radio" name="wkpos_order_time" value="1" checked="checked" />
                    {{ text_yes }}
                    {% else %}
                    <input type="radio" name="wkpos_order_time" value="1" />
                    {{ text_yes }}
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not wkpos_order_time %}
                    <input type="radio" name="wkpos_order_time" value="0" checked="checked" />
                    {{ text_no }}
                    {% else %}
                    <input type="radio" name="wkpos_order_time" value="0" />
                    {{ text_no }}
                    {% endif %}
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-order-id">{{ entry_order_id }}</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if wkpos_order_id %}
                    <input type="radio" name="wkpos_order_id" value="1" checked="checked" />
                    {{ text_yes }}
                    {% else %}
                    <input type="radio" name="wkpos_order_id" value="1" />
                    {{ text_yes }}
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not wkpos_order_id %}
                    <input type="radio" name="wkpos_order_id" value="0" checked="checked" />
                    {{ text_no }}
                    {% else %}
                    <input type="radio" name="wkpos_order_id" value="0" />
                    {{ text_no }}
                    {% endif %}
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-cashier-name">{{ entry_cashier_name }}</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if wkpos_cashier_name %}
                    <input type="radio" name="wkpos_cashier_name" value="1" checked="checked" />
                    {{ text_yes }}
                    {% else %}
                    <input type="radio" name="wkpos_cashier_name" value="1" />
                    {{ text_yes }}
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not wkpos_cashier_name %}
                    <input type="radio" name="wkpos_cashier_name" value="0" checked="checked" />
                    {{ text_no }}
                    {% else %}
                    <input type="radio" name="wkpos_cashier_name" value="0" />
                    {{ text_no }}
                    {% endif %}
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_customer_name }}</label>
                <div class="col-sm-10">
                    {% if wkpos_customer_name %}
                    <label class="radio-inline"><input type="radio" name="wkpos_customer_name" value="1" checked="checked"> {{ text_yes }}</label>
                    <label class="radio-inline">
                      <input type="radio" name="wkpos_customer_name" value="0"> {{ text_no }}
                    </label>
                    {% else %}
                    <label class="radio-inline">
                      <input type="radio" name="wkpos_customer_name" value="1">  {{ text_yes }}</label>
                    <label class="radio-inline">
                      <input type="radio" name="wkpos_customer_name" value="0" checked="checked"> {{ text_no }}
                    </label>
                    {% endif %}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-shipping-mode">{{ entry_shipping_mode }}</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if wkpos_shipping_mode %}
                    <input type="radio" name="wkpos_shipping_mode" value="1" checked="checked" />
                    {{ text_yes }}
                    {% else %}
                    <input type="radio" name="wkpos_shipping_mode" value="1" />
                    {{ text_yes }}
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not wkpos_shipping_mode %}
                    <input type="radio" name="wkpos_shipping_mode" value="0" checked="checked" />
                    {{ text_no }}
                    {% else %}
                    <input type="radio" name="wkpos_shipping_mode" value="0" />
                    {{ text_no }}
                    {% endif %}
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-payment-mode">{{ entry_payment_mode }}</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if wkpos_payment_mode %}
                    <input type="radio" name="wkpos_payment_mode" value="1" checked="checked" />
                    {{ text_yes }}
                    {% else %}
                    <input type="radio" name="wkpos_payment_mode" value="1" />
                    {{ text_yes }}
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not wkpos_payment_mode %}
                    <input type="radio" name="wkpos_payment_mode" value="0" checked="checked" />
                    {{ text_no }}
                    {% else %}
                    <input type="radio" name="wkpos_payment_mode" value="0" />
                    {{ text_no }}
                    {% endif %}
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-ordernote">{{ entry_show_note }}</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if wkpos_show_note %}
                    <input type="radio" name="wkpos_show_note" value="1" checked="checked" />
                    {{ text_yes }}
                    {% else %}
                    <input type="radio" name="wkpos_show_note" value="1" />
                    {{ text_yes }}
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not wkpos_show_note %}
                    <input type="radio" name="wkpos_show_note" value="0" checked="checked" />
                    {{ text_no }}
                    {% else %}
                    <input type="radio" name="wkpos_show_note" value="0" />
                    {{ text_no }}
                    {% endif %}
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-store-detail"><span data-toggle="tooltip" title="{{ help_store_detail }}">{{ entry_store_detail }}</span></label>
                <div class="col-sm-10">
                  <textarea name="wkpos_store_detail" placeholder="{{ entry_store_detail }}" id="input-store-detail" class="form-control" rows="6">{{ wkpos_store_detail }}</textarea>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-barcode">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-barcode-width"><span data-toggle="tooltip" title="{{ help_barcode_width }}">{{ entry_barcode_width }}</span></label>
                <div class="col-sm-10">
                  <input type="number" name="wkpos_barcode_width" value="{{ wkpos_barcode_width }}" placeholder="{{ entry_barcode_width }}" id="input-barcode-width" onkeypress="return validate(event, this, true)" min="0" class="form-control"/>
                  {% if error_barcode_size %}
                    <div class="text-danger">
                      {{ error_barcode_size }}
                    </div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-barcode-name"><span data-toggle="tooltip" title="{{ help_barcode_name }}">{{ entry_barcode_name }}</span></label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if wkpos_barcode_name %}
                    <input type="radio" name="wkpos_barcode_name" value="1" checked="checked" id="input-barcodename" />
                    {{ text_yes }}
                    {% else %}
                    <input type="radio" name="wkpos_barcode_name" value="1" />
                    {{ text_yes }}
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not wkpos_barcode_name %}
                    <input type="radio" name="wkpos_barcode_name" value="0" checked="checked" id="input-barcodename" />
                    {{ text_no }}
                    {% else %}
                    <input type="radio" name="wkpos_barcode_name" value="0" />
                    {{ text_no }}
                    {% endif %}
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="input-barcode-image">{{ entry_barcode_type }}</label>
                <div class="col-sm-10">
                  {% if wkpos_barcode_type == 'vertical' %}
                    <label class="radio-inline">
                      <span data-toggle="tooltip" data-original-title='<img src="../image/wkpos/horizontal.png"/>' data-html="true"><input type="radio" name="wkpos_barcode_type" value="horizontal">{{ text_horizontal }}</span>
                    </label>
                    <label class="radio-inline">
                      <span data-toggle="tooltip" data-original-title='<img style="margin-left: 10px;" src="../image/wkpos/vertical.png"/>' data-html="true">
                      <input type="radio" name="wkpos_barcode_type" value="vertical" checked="checked">{{ text_vertical }}</span>
                    </label>
                  {% else %}
                    <label class="radio-inline">
                      <span data-toggle="tooltip" data-original-title='<img src="../image/wkpos/horizontal.png"/>' data-html="true">
                      <input type="radio" name="wkpos_barcode_type" value="horizontal" checked="checked">{{ text_horizontal }}</span>
                    </label>
                    <label class="radio-inline">
                      <span data-toggle="tooltip" data-original-title='<img style="margin-left: 10px;" src="../image/wkpos/vertical.png"/>' data-html="true">
                      <input type="radio" name="wkpos_barcode_type" value="vertical">{{ text_vertical }}</span>
                    </label>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="select-barcode-generate"><span data-toggle="tooltip" title="{{ help_generate_with }}">{{ entry_generate_with }}</span></label>
                <div class="col-sm-10">
                  <select class="form-control" name="wkpos_generate_barcode" id="select-barcode-generate">
                    <option {% if wkpos_generate_barcode == 'id' %}{{ 'selected' }}{% endif %} value="id">{{ text_id }}</option>
                    <option {% if wkpos_generate_barcode == 'upc' %}{{ 'selected' }}{% endif %} value="upc">{{ text_upc }}</option>
                    <option {% if wkpos_generate_barcode == 'sku' %}{{ 'selected' }}{% endif %} value="sku">{{ text_sku }}</option>
                    <option {% if wkpos_generate_barcode == 'ean' %}{{ 'selected' }}{% endif %} value="ean">{{ text_ean }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-slot-number"><span data-toggle="tooltip" title="{{ help_number_slot }}">{{ entry_number_slot }}</span></label>
                <div class="col-sm-10">
                  <input type="number" min="5" class="form-control" id="input-slot-number" name="wkpos_barcode_slot" value="{% if wkpos_barcode_slot %}{{ wkpos_barcode_slot }}{% elseif not error_slot %}{{ 20 }}{% endif %}"onkeypress="return validate(event, this, true)">
                  {% if error_slot %}
                    <div class="text-danger">
                      {{ error_slot }}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<style media="screen">
  .input-group {
    margin-top: 1%;
  }
</style>
<link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet" />
<link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet" />
<script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script>
<script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script>
<script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script>
<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
<link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
<script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
<script type="text/javascript"><!--
$('select[name=\'wkpos_country_id\']').on('change', function() {
  $.ajax({
    url: 'index.php?route=localisation/country/country&user_token={{ user_token }}&country_id=' + this.value,
    dataType: 'json',
    beforeSend: function() {
      $('select[name=\'wkpos_country_id\']').after(' <i class="fa fa-circle-o-notch fa-spin"></i>');
    },
    complete: function() {
      $('.fa-spin').remove();
    },
    success: function(json) {
      if (json['postcode_required'] == '1') {
        $('input[name=\'wkpos_postcode\']').parent().parent().addClass('required');
      } else {
        $('input[name=\'wkpos_postcode\']').parent().parent().removeClass('required');
      }

      html = '<option value="">{{ text_select }}</option>';

      if (json['zone'] && json['zone'] != '') {
        for (i = 0; i < json['zone'].length; i++) {
          html += '<option value="' + json['zone'][i]['zone_id'] + '"';

          if (json['zone'][i]['zone_id'] == '{{ wkpos_zone_id }}') {
            html += ' selected="selected"';
          }

          html += '>' + json['zone'][i]['name'] + '</option>';
        }
      } else {
        html += '<option value="0" selected="selected">{{ text_none }}</option>';
      }

      $('select[name=\'wkpos_zone_id\']').html(html);
    },
    error: function(xhr, ajaxOptions, thrownError) {
      alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
});

$('select[name=\'wkpos_country_id\']').trigger('change');
$('select[name=\'wkpos_store_country_id\']').on('change', function() {
  $.ajax({
    url: 'index.php?route=localisation/country/country&user_token={{ user_token }}&country_id=' + this.value,
    dataType: 'json',
    beforeSend: function() {
      $('select[name=\'wkpos_store_country_id\']').after(' <i class="fa fa-circle-o-notch fa-spin"></i>');
    },
    complete: function() {
      $('.fa-spin').remove();
    },
    success: function(json) {
      html = '<option value="">{{ text_select }}</option>';

      if (json['zone'] && json['zone'] != '') {
        for (i = 0; i < json['zone'].length; i++) {
          html += '<option value="' + json['zone'][i]['zone_id'] + '"';

          if (json['zone'][i]['zone_id'] == '{{ wkpos_store_zone_id }}') {
            html += ' selected="selected"';
          }

          html += '>' + json['zone'][i]['name'] + '</option>';
        }
      } else {
        html += '<option value="0" selected="selected">{{ text_none }}</option>';
      }

      $('select[name=\'wkpos_store_zone_id\']').html(html);
    },
    error: function(xhr, ajaxOptions, thrownError) {
      alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
});

$('select[name=\'wkpos_store_country_id\']').trigger('change');

function validate(key, thisthis, nodot) {
  //getting key code of pressed key
  var keycode = (key.which) ? key.which : key.keyCode;

  if (keycode == 46) {
    if (nodot) {
      return false;
    }

    var val = $(thisthis).val();
    if (val == val.replace('.', '')) {
      return true;
    } else {
      return false;
    }
  }

  //comparing pressed keycodes
  if (!(keycode == 8 || keycode == 9 || keycode == 46 || keycode == 116) && (keycode < 48 || keycode > 57)) {
    return false;
  } else {
    return true;
  }
}
//--></script>
{{ footer }}
